<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="file" xsi:type="File" 
            fileName="c:\brnkly.log" 
            archiveEvery="Hour" maxArchiveFiles="3"
            layout="${longdate} ${level:uppercase=true} ${logger} ${message} ${exception:format=tostring}" />
  </targets>
  <rules>
    <logger name="Brnkly.*" minlevel="Debug" writeTo="file" />
    <logger name="Raven.*" minlevel="Info" writeTo="file" />
  </rules>
</nlog>