<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      
      autoReload="true">

  <targets>
    <target name="file" xsi:type="File"
            fileName="c:\brnkly-${machinename}.log"
            concurrentWrites="false"
            archiveAboveSize="100000"
            archiveNumbering="Sequence"
            maxArchiveFiles="10"
            archiveFileName="c:\brnkly-${machinename}-${shortdate}-{###}.log"
            layout="${longdate:universalTime=true} ${level:uppercase=true} ${logger} ${message} ${exception:format=Method,Type,Message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="file" />
  </rules>

</nlog>