<div class="navbar navbar-fixed-top" style="margin-top: 2.8em;">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target="#raven-nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>            
            <span class="brand">Raven</span>
            <div id="raven-nav-collapse" class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="/admin/raven/replication">Replication</a></li>
                    <li><a href="#">Indexes</a></li>
                    <li><a href="#">Requests</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
