<div class="navbar navbar-fixed-top" style="margin-top: 2.8em;">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target="#raven-nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>            
            <span class="brand">Raven</span>
            <div id="raven-nav-collapse" class="nav-collapse collapse">
                <ul class="nav" role="navigation">
                    <li class="dropdown">
                        <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
                            Store: 
                            <b><span data-bind="text: brnkly.raven.activeStore().name"></span></b>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <!--ko foreach: brnkly.raven.stores()-->
                            <li>
                                <a href="#" data-bind="click: brnkly.raven.setActiveStore">
                                    <i class="icon-pencil"></i>
                                    <span data-bind="text: name"></span>
                                </a>
                            </li>
                            <!--/ko-->
                            <li class="divider"></li>
                            <li>
                                <a href="#add-store-modal" data-toggle="modal">
                                    <i class="icon-plus"></i>
                                    Add store...
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="message-container">
    <div id="message" class="alert"></div>
    <div id="working" class="alert alert-info"><img src="~/content/images/ajax-loader.gif"> Working...</div>
</div>
