@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Subheader {
    <div class="ui-bar ui-bar-c">
        <h1 style="float:right;margin-top:5px;">Environment</h1>
            @Html.ActionLink(
                "Service bus", "Index", "Applications", new { Area = "Framework" },
                    new { data_role = "button" })
            @Html.ActionLink(
                "Machines", "Index", "MachineGroups", new { Area = "Framework" },
                    new { data_role = "button" })
    </div>
}

@RenderBody()