@using System.Diagnostics;
@using Brnkly.Framework.Administration.Models;
@model SettingEditModel<SourceLevels>

<div class="setting">
    <div class="name">
        @Html.DropDownListFor(
            m => m.ApplicationName,
            new SelectList(this.ViewBag.Applications, "Value", "Key", Model.ApplicationName),
            string.Empty,
            new { @class = "name", data_inline = "true", data_theme = "d" })
    </div>
    <div class="name">
        @Html.DropDownListFor(
            m => m.MachineName,
            new SelectList(this.ViewBag.Machines, "Value", "Key", Model.MachineName),
            string.Empty,
            new { @class = "name", data_inline = "true", data_theme = "d" })
    </div>
    <div class="value">@Html.EditorFor(m => m.Value)</div>
    <div class="delete">
        @Html.ActionLink(
            "Delete", "DeleteLoggingLevel",
            new { applicationName = Model.ApplicationName, machineName = Model.MachineName },
            new { @class = "delete", data_theme = "e", data_role = "button", data_icon = "delete", data_iconpos = "notext", data_inline = "true" })
    </div>
    <div style="clear:both;">&nbsp;</div>
</div>
