@using Brnkly.Framework.Administration.Models;
@using Brnkly.Framework.Caching
@model SettingEditModel<CacheParameters>

<div class="setting">
    <div class="name">
        @Html.DropDownListFor(
            m => m.ApplicationName,
            new SelectList(this.ViewBag.Applications, "Value", "Key", Model.ApplicationName),
            string.Empty,
            new { @class = "name", data_inline = "true", data_theme = "d" })
    </div>
    <div class="name" style="display: none;">
        @Html.DropDownListFor(
            m => m.MachineName,
            new SelectList(new[] { new { Value = "*", Key = "*"} }, "Value", "Key", "*"),
            string.Empty,
            new { @class = "name", data_inline = "true", data_theme = "d" })
    </div>
    @Html.EditorFor(m => m.Value)
    <div class="delete">
        @Html.ActionLink(
            "Delete", "DeleteCacheDuration",
            new { applicationName = Model.ApplicationName, machineName = Model.MachineName },
            new { @class = "delete", data_theme = "e", data_role = "button", data_icon = "delete", data_iconpos = "notext", data_inline = "true" })
    </div>
    <div style="clear:both;">&nbsp;</div>
</div>
