@using System.Diagnostics;
@using Brnkly.Framework.Administration.Models;
@model Tuple<EnvironmentConfigEditModel,EnvironmentConfigEditModel>
@{
    ViewBag.Title = "Environment config";
}    

<h2>Environment config</h2>

@if(!string.IsNullOrWhiteSpace(Model.Item2.ErrorMessage))
{
    <div class="validation-summary-errors">
        <p>@Model.Item2.ErrorMessage</p>
        <p>
            The publish failed.  It may have only been partially applied. 
            See the event log for more details.
        </p>
    </div>
}

<div class="ui-grid-b">
    <div class="ui-block-a ui-body-a" style="padding:20px;width:35%;">
        <h3>Active config</h3>
        @if (Model.Item1 == null)
        {
            <text>Not available.</text>
        }
        else
        {
            @Html.Partial("Summary", Model.Item1)
        }
    </div>
    <div class="ui-block-b" style="width:20%;">
            <div>
                @using (Html.BeginForm("Publish", "EnvironmentConfig"))
                { 
                    <a href="#" class="submit-link" 
                                data-theme="b" data-role="button" 
                                data-icon="check" data-iconpos="left">Publish</a>
                }
            </div>
            <div style="margin-top:40px;">
                @using (Html.BeginForm("DeletePending", "EnvironmentConfig"))
                { 
                    <a href="#" class="submit-link" 
                                data-theme="d" data-role="button" 
                                data-icon="delete" data-iconpos="left">Delete pending</a>
                }
            </div>
    </div>
    <div class="ui-block-c ui-body-a" style="padding:20px;width:35%;">
        <h3>Pending config</h3>
        @if (Model.Item2 == null)
        {
            <text>Not available.</text>
        }
        else
        {
            @Html.Partial("Summary", Model.Item2)
        }
    </div>
</div>
