@using Brnkly.Framework.Web.Menus;
@model string
<div class="ui-bar ui-bar-c">
    <h1 style="float:right;margin-top:5px;">@Model</h1>
    @foreach (var menuItem in Menu.GetMenu(Model).Items)
    { 
        @Html.ActionLink(
            menuItem.LinkText,
            menuItem.ActionName,
            menuItem.ControllerName,
            new { Area = menuItem.AreaName },
            menuItem.HtmlAttributes)
    }
</div>
