@using Brnkly.Framework.Administration.Models;
@model RavenDatabaseStatusModel
@{
    Layout = string.Empty;
}

@if (Model.DatabaseCreated)
{
    <div class="added">Database created</div>
}
else if (Model.Error == null)
{
    <div>@Model.Statistics.CountOfDocuments docs</div>
    if (Model.ReplicatingTo.Any()) { 
        foreach (var destination in Model.ReplicatingTo)
        { 
            <div>
                -&gt; @destination.Key
                @if (destination.Value)
                { <text>(Trans)</text> }
            </div>
        }
    }
    else
    { 
        <div>[Not replicating]</div>
    }
}
else
{
    <span class="validation-summary-errors">@Model.Error.Message</span> 
}