@model Brnkly.Raven.Admin.Models.RavenConfigModel
@{ ViewBag.Title = "Raven replication"; }

@section SectionNav {
    @{ Html.RenderPartial("_RavenSectionNav"); }
}

@section Scripts {
    @Scripts.Render("~/scripts/brnkly-raven")
}

<div class="navbar" style="margin-top:1em;" data-bind="with: brnkly.raven">
    <div class=".status-refresh-msg" style="float:right;font-size:x-small;margin-top:1em;" 
         data-bind="text: 'Status refreshed at: ' + activeStore().statsRefreshedAt()"></div>
    <div class="btn-toolbar">
        <button type="button" class="btn btn-primary" 
            data-bind="click: publish,
                       attr: { disabled:      !hasEtag() || dirtyFlag.isDirty() },
                       css:  { 'btn-primary': !dirtyFlag.isDirty() }">
            Publish
        </button>
        <button type="button" class="btn" 
            data-bind="click: save,
                       attr: { disabled:      !dirtyFlag.isDirty() },
                       css:  { 'btn-primary': dirtyFlag.isDirty() }">
            Save
        </button>
        <button type="button" class="btn" 
            data-bind="click: activeStore().updateTracers,
                       attr: { disabled: activeStore().name == placeholderStore.name }">
            Update tracers
        </button>
        <button type="button" class="btn" 
            data-bind="click: removeActiveStore,
                       attr: { disabled: activeStore().name == placeholderStore.name }">
            Delete <span data-bind="text: activeStore().name"></span>
        </button>
    </div>
</div>

@Html.Partial("_AddStoreModal")
@Html.Partial("_AddInstanceModal")

<div data-bind="template: { name: 'raven-store-template', data: brnkly.raven.activeStore() },
                visible: brnkly.raven.stores().length > 0"></div>

<div data-bind="visible: brnkly.raven.stores().length == 0">
    <a href="#add-store-modal" data-toggle="modal">
        <i class="icon-plus"></i>
        Add store...
    </a>
</div>

<script type="text/html" id="raven-store-template">

    <div class="well well-small" data-bind="attr: { id: name() }">

        <div>
            <h4><span data-bind="text: name() + ' - replication'"></span></h4>
        </div>

        <table>
            <tbody>
                <!--ko foreach: { data: instances(), as: 'instance' }-->
                <tr class="raven-store-instance">

                    <td>
                        <span data-bind="text: instance.displayName, attr: { title: instance.url }"></span>
                    </td>

                    <td>
                        <div class="btn-group">
                            <button class="btn btn-mini"
                                data-bind="checkbox: instance.allowReads,
                                           attr: { title: instance.allowReads() ? 'Allow reads' : 'Do not allow reads' }"> 
                                <i data-bind="css: { 'icon-ok': instance.allowReads(), 
                                                     'icon-none': !instance.allowReads() }"></i>
                                R
                            </button>
                            <button class="btn btn-mini"
                                data-bind="checkbox: instance.allowWrites,
                                           attr: { title: instance.allowWrites() ? 'Allow writes' : 'Do not allow writes' }">
                                W
                                <i data-bind="css: { 'icon-ok': instance.allowWrites(), 
                                                     'icon-none': !instance.allowWrites() }"></i>
                            </button>
                        </div>
                    </td>

                    <!--ko foreach: instance.destinations()-->
                    <td class="raven-repl-dest">
                        <div class="btn-group">
                            <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#" 
                                data-bind="attr: { 
                                    disabled : instance.url() == url(),
                                    title: replicationState() + '\n' + transitiveState() +
                                            (status() == 'Current' ? '\nCurrent' : '\nLag: ' + status()),
                                    class: 'btn btn-mini dropdown-toggle btn-' + statusClass() }">
                                <span data-bind="text: displayName"></span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#" data-bind="click: function() { replicate(!replicate()); }">
                                        <i data-bind="css: { 'icon-ok': replicate(), 'icon-': !replicate() }"></i>
                                        Replicate from <span data-bind="text: instance.displayName"></span> 
                                        to <span data-bind="text: displayName"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"  data-bind="click: function() { isTransitive(!isTransitive()); }">
                                        <i data-bind="css: { 'icon-ok': isTransitive(), 'icon-': !isTransitive() }"></i>
                                        Use transitive replication
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <span class="raven-repl-dest-lag" data-bind="text: isTransitive() ? 'Transitive' : '&nbsp;'"></span>
                        </div>
                    </td>
                    <!--/ko-->
                    <td>
                        <button type="button" class="close" 
                            data-bind="click: $parent.removeInstance, 
                                       attr: { title: 'Delete ' + url }">&times;</button>
                    </td>
                </tr>
                <!--/ko-->
                <tr>
                    <td>
                        <div class="row-fluid">
                        <a href="#add-instance-modal" role="button" data-toggle="modal">
                            Add instance...
                        </a>
                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="well well-small" data-bind="attr: { id: name() }">
        <div>
            <h4><span data-bind="text: name() + ' - indexing'"></span></h4>
        </div>
        <div data-bind="if: $data.stats">
            <table>
                <tbody>
                    <!--ko foreach: { data: stats().indexing(), as: 'index' }-->
                    <tr class="raven-store-instance">
                        <td>
                            <span data-bind="text: name()"></span>
                        </td>
                        <!--ko foreach: instances()-->
                        <td class="raven-repl-dest">
                            <div class="btn-group dropup">
                                <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#"
                                    data-bind="attr: {
                                        class: 'btn btn-mini dropdown-toggle btn-' + statusClass(),
                                        title: 'Hash code: ' + hashCode() +
                                               (status() == 'Current' ? '\nCurrent' : (status() == 'Missing' ? '\nIndex MISSING' : '\nLag: ' + status())) }">
                                    <span data-bind="text: displayName"></span>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#" data-bind="click: function() { index.copy(url()); }">
                                            <i class="icon-pencil"></i> Copy
                                        </a>
                                    </li>
                                    <!--ko if: index.fromInstanceUrl() -->
                                    <li>
                                        <a href="#" class="disabled" data-bind="
                                            click: function() { index.paste(url(), index.name()); }">
                                            <i class="icon-pencil"></i>
                                            Paste from <span data-bind="text: index.fromInstanceDisplayName()"></span>
                                        </a>
                                    </li>
                                    <!--/ko-->
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#" data-bind="click: function() { index.reset(url()); }">
                                            <i class="icon-pencil"></i> Reset
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" data-bind="click: function() { index.delete(url()); }">
                                            <i class="icon-pencil"></i> Delete
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div><span class="raven-index-hash" data-bind="text: hashCode()"></span></div>
                        </td>
                        <!--/ko-->
                    </tr>
                    <!--/ko-->
                </tbody>
            </table>
        </div>
    </div>

</script>
