@using System.Diagnostics;
@using Brnkly.Framework.Administration.Models;
@model LoggingSettingsEditModel
@{
    ViewBag.Title = "Logging settings";
}    

<h2>Logging settings</h2>

@using (Html.BeginForm("Save", "LoggingSettings"))
{
    <div class="ui-bar ui-bar-c save-publish">
        <fieldset class="ui-grid-a">
            <div class="ui-block-a">
                <button type="submit" 
                        onclick="$(this).closest('form').attr('action', '@Url.Action("Publish", "LoggingSettings")');" 
                        data-theme="b" data-icon="check" data-iconpos="left" data-inline="true">Publish</button>
            </div>
            <div class="ui-block-b"><button type="submit" data-theme="d">Save</button></div>
        </fieldset>
    </div> 
    
    @Html.HiddenFor(m => m.Id)
    @Html.ValidationSummary()
    
    <div data-theme="c" data-collapsed="false">
        @for (int index = 0; index < Model.LoggingLevels.Count; index++)
        { 
            @Html.EditorFor(m => m.LoggingLevels[index], "setting");
        }
    </div>
}                       
