@using Brnkly.Framework.Administration.Models;
@model ApplicationEditModel

@{
    ViewBag.ApplicationName = Model.Name;
}

<h3>@Model.Name</h3>

<div class="ui-grid-d">
@{
    var blocks = "abcde";
    for(int index = 0; index < blocks.Length; index++)
    {
        <div class="ui-block-@blocks[index]">
            @if (index < Model.LogicalInstances.Count)
            {
                Html.RenderPartial("LogicalInstance", Model.LogicalInstances[index]);
            }
            else if (index == Model.LogicalInstances.Count)
            {
                using (Html.BeginForm("AddLogicalInstance", "Applications"))
                {
                    <div data-role="fieldcontain" class="ui-hide-label" style="margin:0px 10px 0px 10px;">
                        <label for="machine">Add logical instance of @Model.Name:</label>
                        <input type="text" name="logicalInstanceName" 
                               placeholder="Add logical instance of @Model.Name" data-theme="d" />
                        <input type="hidden" name="applicationName" value="@Model.Name" />
                    </div>
                }
            }
            else
            {
                <text>&nbsp;</text>
            }
        </div>
    }
}
</div>
