@using Brnkly.Framework.Administration.Models;
@model EnvironmentConfigEditModel
@{
    ViewBag.Title = "Service bus";
}
<h2>Service bus</h2>

@foreach (var application in Model.Applications)
{
    <div data-role="collapsible" data-theme="c" data-content-theme="c" data-collapsed="false">
        @Html.Partial("Application", application)
    </div>
}